*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	text-decoration: none;
	color: #000;
}
body,html{
	height: 100%;
}
#body_cont{
	height: 100%;
}
section{
	padding: 1em;
	height: 100%;
}
.account_cont{	
	display:flex;
	height: calc(100% - 5em);
}
.sub_cont{
	
}
.nav_cont{
	width: 20%;
	position: relative;
}
.nav_cont>ul{
	position: absolute;
	top: 0;
	left: calc(100% - 4em);
	background-color: #fff;
	width: 100%;
	height: 100%;
	transition-duration: 0.5s;
}
.nav_cont>ul>li{
	display: flex;
	align-items: center;
	min-height: 3.5em;
	padding: 0.5em;
}
.nav_cont>ul>li:hover{
	background-color: #eee;
}
.nav_cont>ul>li>a{
	width: 100%;
	display: flex;
	align-items: center;
}
.nav_cont>ul>li>a>img{
	height: 100%;
	width: 3em;
}
.nav_cont>ul>li>a>span{
	margin-left: 1em;
}
.nav_cont>ul>li:first-child{
	
}
.nav_bars{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 3em;
}
.nav_bars>div{
	width: 2.5em;
	height: .3em;
	background-color: #aaa;
	border-radius: 1em;
}
.nav_bars>div:not(:first-child){
	margin-top: .3em;
}
.display_cont{
	z-index: 99;
	width: 80%;
	
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
	border-left:1px solid #aaa;
	background-color: #fff;
}
.display_cont>iframe{
	height: 100%;
	width: 100%;
	border:none;
}
.nav_clicked{
	left:0% !important;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}